doctype html
html
  include includes/head.pug
  title Servers | wushi
  body
    nav.navbar.has-shadow.is-spaced(role="navigation", aria-label="main navigation")
      div.container.is-fluid.is-navbar
        a.navbar-brand(href="/", style="margin-right: 8px")
            figure(class="image is-48x48")
                img(class="image is-48x48", src="/assets/sushi.png")  
        a.navbar-burger(role="button", data-target="navbar", aria-label="menu", aria-expanded="false")
            span(aria-hidden="true")
            span(aria-hidden="true")
            span(aria-hidden="true")    
        div.navbar-menu.is-active(id="navbar")
          div.navbar-start
              a.navbar-item(href="/invite") <i class="fas fa-user-plus"></i>&nbsp;Invite
              a.navbar-item(href="https://docs.wushibot.xyz") <i class="fas fa-book"></i>&nbsp;Documentation
              a.navbar-item(href="/variables") <i class="fas fa-tag"></i>&nbsp;Variables
          div.navbar-end
            if user
              a.navbar-item.button.is-link.has-badge-rounded(href="/dashboard", data-badge="New!", style="margin-right: 8px") <i class="fas fa-satellite-dish"></i>&nbsp;Dashboard
            else
              a.navbar-item.is-primary.button(href="/dashboard") <i class="fab fa-discord"></i>&nbsp;Login with Discord
    
    div(align="center")
      section.hero.is-small.is-primary.is-bold
        .hero-body
          .container
            figure(class="image is-128x128 animated pulse")
                img(class="image is-128x128", src="/assets/sushi.png") 
            h1.title Please select a server
      
    - 
      const guildsList = []
      user.guilds.forEach(guild => {
        const permsOnGuild = new perms(guild.permissions)
        if (permsOnGuild.has("MANAGE_GUILD")) guildsList.push(guild)
      })

    br
    div.container
      div.columns.is-mobile.is-multiline
        for guild in guildsList
          div.column.is-one-third
            div.box
              div(align="center")
                figure.image.is-128x128
                  img(src="https://cdn.discordapp.com/icons/" + guild.id + "/" + guild.icon + ".png?size=1024")
                h2.subtitle(style="margin-top:5px;margin-bottom:5px;") #{guild.name}
                div.container.is-fluid
                  a.button.is-small.is-rounded(href='/dashboard/' + guild.id) <i class="fab fa-discord"></i>&nbsp;Go to dashboard

  br
  footer.footer
    div(align="center")
      div.container
        p <strong><a href="https://github.com/xMinota">Minota</a></strong> © 2020 
        br        
        div.columns
          div.column.is-one-half
            a.navbar-item.is-light.button(href="https://github.com/xMinota/wushi", style="margin-right: 8px") <i class="fab fa-github-alt"></i>&nbsp;GitHub 
          div.column.is-one-half
            a.navbar-item.is-primary.button(href="https://discord.gg/zwmqwjrxR9") <i class="fab fa-discord"></i>&nbsp;Support Server