doctype html
html
  include includes/head.pug
  title Variables | wushi
  body
    nav.navbar.has-shadow.is-spaced(role="navigation", aria-label="main navigation")
      div.container.is-fluid.is-navbar
        a.navbar-brand(href="/", style="margin-right: 8px")
            figure(class="image is-48x48")
                img(class="image is-48x48", src="/assets/sushi.png")  
        a.navbar-burger(role="button", data-target="navbar", aria-label="menu", aria-expanded="false")
            span(aria-hidden="true")
            span(aria-hidden="true")
            span(aria-hidden="true")    
        div.navbar-menu.is-active(id="navbar")
          div.navbar-start
              a.navbar-item(href="/invite") <i class="fas fa-user-plus"></i>&nbsp;Invite
              a.navbar-item(href="https://docs.wushibot.xyz") <i class="fas fa-book"></i>&nbsp;Documentation
          div.navbar-end
            a.navbar-item.button.is-success.has-badge-rounded(href="/vote", data-badge="New!", style="margin-right: 8px") <i class="fas fa-vote-yea"></i>&nbsp;Vote for&nbsp; <strong>wushi</strong>
              a.navbar-item.is-light.button(href="https://github.com/xMinota/wushi", style="margin-right: 8px") <i class="fab fa-github-alt"></i>&nbsp;GitHub
              a.navbar-item.is-primary.button(href="https://discord.gg/zwmqwjrxR9") <i class="fab fa-discord"></i>&nbsp;Support Server

    div(align="center")
      section.hero.is-small.is-primary.is-bold
        .hero-body
          .container
            figure(class="image is-128x128 animated pulse")
                img(class="image is-128x128", src="/assets/sushi.png") 
            br
            h1.title Variables
            h2.subtitle A reference of variables that you can use to customize wushi's messages.
    
      br
      .container
        .box
          h1.title Leveling
          h2.subtitle These variables are usable when customizing leveling messages.
          table.table
            thead
              tr
                th Name
                th Description
                th Example            
            tbody
              tr
                th <code class="code">{level}</code>
                th <p class="subtitle">Returns the user's level.</p>
                th <code class="code">10</code>
              tr
                th <code class="code">{nextExp}</code>
                th <p class="subtitle">Returns the user's EXP required to level up to the next level.</p>
                th <code class="code">150</code>                
              tr
                th <code class="code">{user.name}</code>
                th <p class="subtitle">Returns the user's name.</p>
                th <code class="code">minota</code>
              tr
                th <code class="code">{user.id}</code>
                th <p class="subtitle">Returns the user's id.</p>
                th <code class="code">488786712206770196</code>  
              tr
                th <code class="code">{user.discrim}</code>
                th <p class="subtitle">Returns the user's discriminator.</p>
                th <code class="code">0001</code>    
              tr
                th <code class="code">{user.mention}</code>
                th <p class="subtitle">Returns the user's mention.</p>
                th <code class="code">&lt;@!488786712206770196&gt;</code>                   

  br                                     
  footer.footer
    div(align="center")
      div.container
        p <strong><a href="https://github.com/xMinota">Minota</a></strong> © 2020         