@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

// Colors
$red: #fd2e2e;
$dark-blue: #48A1F5;
$white: rgb(255, 255, 255);
$white-bis: #F4F4F4;
$gray: #474747;
$black: #111111;
$black-bis: #0e0e0e;

// Update Colors
$primary: $red;
$link: $red;
$grey-dark: $black;
$grey-light: $gray;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update Components
$family-sans-serif: 'Noto Sans JP', sans-serif;
$footer-background-color: $white-bis;
$has-text-black: $black-bis;

@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/form/_all.sass";
@import "../../../node_modules/bulma/sass/grid/_all.sass";

@import "../../../node_modules/bulma/sass/elements/icon.sass";
@import "../../../node_modules/bulma/sass/elements/container.sass";
@import "../../../node_modules/bulma/sass/elements/content.sass";
@import "../../../node_modules/bulma/sass/elements/tag.sass";
@import "../../../node_modules/bulma/sass/elements/title.sass";
@import "../../../node_modules/bulma/sass/elements/image.sass";
@import "../../../node_modules/bulma/sass/elements/notification.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/elements/box.sass";

@import "../../../node_modules/bulma/sass/components/card.sass";
@import "../../../node_modules/bulma/sass/components/navbar.sass";
@import "../../../node_modules/bulma/sass/components/tabs.sass";
@import "../../../node_modules/bulma/sass/components/dropdown.sass";
@import "../../../node_modules/bulma/sass/components/pagination.sass";
@import "../../../node_modules/bulma/sass/components/modal.sass";
@import "../../../node_modules/bulma/sass/components/media.sass";
@import "../../../node_modules/bulma/sass/components/level.sass";

@import "../../../node_modules/bulma/sass/layout/footer.sass";
@import "../../../node_modules/bulma/sass/layout/section.sass";
@import "../../../node_modules/bulma/sass/layout/hero.sass";


// Classes
body {
    font-size: 18px;
}

panel {
    position: absolute;
    top: 45px;
    left: 525px;
    opacity: 0;
    pointer-events: none;
    background-color: white;
    z-index: 999;
    width: 460px;
    height: 600px;
    transform: scale(0.9);
    border-radius: 10px;
    box-shadow: 2px 1px 8px 1px #00000047;
    padding: 25px 0;
    margin-top: 5px;
    transition: 0.1s opacity, 0.2s margin-top;
}

.navbar-dropdown a.navbar-item:hover, .navbar-dropdown a.navbar-item {
    background-color: transparent !important;
    color: rgb(19, 19, 19) !important;
}

.navbar-link:hover {
    color: black !important;
}

.navbar-dropdown:hover {
    .navbar-link {
        color: black !important;
    }
}