head
  title Home | wushi
  link(href="https://emoji-css.afeld.me/emoji.css", rel="stylesheet")
  link(rel='stylesheet', type="text/css", href='/css/style.css')
  link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css")
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
  <link rel="manifest" href="/assets/site.webmanifest">
  script(src="https://kit.fontawesome.com/9558a49d61.js", crossorigin="anonymous")
  <meta property="og:title" content="wushi" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://wushibot.xyz" />
  <meta property="og:image" content="https://wushibot.xyz/assets/sushi.png" />
  <meta property="og:description" content="A sushi-themed social bot with a unique economy system." />